#Livello_8:hover .st10 {fill:#FFFFFF;
                opacity: 1;
                }

#Sweden:hover .st10 {fill:#FFFFFF;
                opacity: 1;
                }


#Maki:hover .st10 {fill:#FFFFFF;
                opacity: 1;
                }


#Lenin:hover .st10 {fill:#FFFFFF;
                opacity: 1;
                }


#Crystal:hover .st10 {fill:#FFFFFF;
                opacity: 1;
                }


#Cherno:hover .st10 {fill:#FFFFFF;
                opacity: 1;
                }


#Pensy:hover .st10 {fill:#FFFFFF;
                opacity: 1;
                }

#Livello_8:hover .st11 {fill:#FFFFFF;
                opacity: 1;
                }

#Sweden:hover .st11 {fill:#FFFFFF;
                opacity: 1;
                }


#Maki:hover .st11 {fill:#FFFFFF;
                opacity: 1;
                }


#Lenin:hover .st11 {fill:#FFFFFF;
                opacity: 1;
                }


#Crystal:hover .st11 {fill:#FFFFFF;
                opacity: 1;
                }


#Cherno:hover .st11 {fill:#FFFFFF;
                opacity: 1;
                }


#Pensy:hover .st11 {fill:#FFFFFF;
                opacity: 1;
                }

                